/output/DistanceMatrixEuclidean.txt
/output/DistanceMatrixManhattan.txt
*.class
*.csv
*.aux
*.glo
*.loc
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.out
